<ol class="breadcrumb">
  <li><a ng-href="#/study-groups/{{page.StudyGroup.id}}/{{page.StudyGroup.key}}"><i class="fa fa-home" style="margin-right: 6px;"></i>{{page.StudyGroup.name}}</a></li>
  <li class="active">{{page.title}}</li>
</ol>

<div class="page-header button-header">
  <h1>{{page.title}}</h1>

  <button class="btn btn-danger pull-right" ng-click="removePage()" ng-if="userSignedIn.id == page.StudyGroup.User.id">
    <i class="fa fa-times"></i> Remove page
  </button>

  <button class="btn btn-default pull-right" ng-class="{ 'active': isEditing }" ng-click="toggleEditing()" style="margin-right: 10px" ng-if="userSignedIn.id == page.StudyGroup.User.id">
    <i class="fa fa-pencil"></i> Edit page
  </button>
</div>

<span class="highlighter-container">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="highlight-color bg-success" tooltip content="'Well explained!'" ng-click="highlight('success')"></span>
        <span class="highlight-color bg-warning" tooltip content="'I didn\'t quite get this...'" ng-click="highlight('warning')"></span>
        <span class="highlight-color bg-danger" tooltip content="'There\'s a serious problem here!'" ng-click="highlight('danger')"></span>
      </div>
    </div>
</span>

<div class="panel" ng-class="{ 'panel-default': alertCounter == 0, 'panel-primary': alertCounter > 0 }" id="chat-container" ng-controller="ChatController">
  <div class="panel-heading" ng-click="toggleChat()">
    <h3 class="panel-title"><i class="fa fa-comments"></i> {{page.StudyGroup.name}} chat <span class="pull-right" ng-show="alertCounter > 0"><i class="fa fa-bell"></i> {{alertCounter}}</span></h3>
  </div>
  <div class="panel-body" ng-show="chatIsShowing">
    <div id="chat-messages">
      <p class="text-muted" ng-if="messages.length == 0">
        No messages yet.
      </p>

      <div class="media" ng-repeat="message in messages | orderBy: '-createdAt'" ng-if="!message.removed">
        <div class="media-left">
          <img gravatar-src-once="message.User.email" class="mini-portrait media-object" gravatar-size="30" style="margin-right: 2px;">
        </div>
        <div class="media-body">
          <p>
            <button class="btn btn-xs btn-danger" ng-click="removeChatMessage(message)" ng-if="userSignedIn.id == page.StudyGroup.User.id"><i class="fa fa-times"></i></button>
            <a ng-href="#/profile/{{message.User.username}}">{{message.User.username}}</a>:
            <span ng-bind-html="message.text | emoji"></span>
            <span am-time-ago="message.createdAt" class="text-muted"></span>
          </p>
        </div>
      </div>
    </div>
    <form ng-submit="sendChatMessage()">
      <p class="text-muted">
        Tip: you can use <a href="http://www.emoji-cheat-sheet.com/" target="_blank">emojis</a> in this field.
      </p>
      <input type="text" required class="form-control" placeholder="Type your message here..." ng-model="newMessage">
      <button type="submit" style="display: none"></button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-9">
    <p class="text-muted">
      Created at {{page.createdAt | amDateFormat:'MMMM Do YYYY' }} · Latest update <span am-time-ago="page.updatedAt"></span>
    </p>

    <div ng-show="isEditing" ng-if="userSignedIn.id == page.StudyGroup.User.id">
      <form ng-submit="updatePage()">
        <div class="form-group">
          <label>Title</label>
          <input type="text" required class="form-control" ng-model="editedPage.title">
        </div>
        <div class="form-group">
          <label>Content</label>
          <p class="text-muted">
            Tip: you can use <a href="http://markdowntutorial.com/" target="_blank">markdown</a> in this field.
          </p>
          <textarea rows="25" required class="form-control" ng-model="editedPage.content"></textarea>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">Save</button>
        </div>
      </form>
    </div>

    <div ng-hide="isEditing">
      <p>
        <button class="btn btn-warning" ng-if="userSignedIn.id == page.StudyGroup.User.id" ng-click="removeHighlightings()"><i class="fa fa-eraser"></i> Clear highlightings</button>
      </p>

      <div class="form-group">
        <label>Filter highlightings</label>
        <p>
          <span class="highlight-color bg-success chooseable" ng-class="{ 'chosen': highlightTypes[0].show }" tooltip content="'Well explained!'" ng-click="toggleHighlightType(highlightTypes[0])"></span>
          <span class="highlight-color bg-warning chooseable" ng-class="{ 'chosen': highlightTypes[1].show }" tooltip content="'I didn\'t quite get this...'" ng-click="toggleHighlightType(highlightTypes[1])"></span>
          <span class="highlight-color bg-danger chooseable" ng-class="{ 'chosen': highlightTypes[2].show }" tooltip content="'There\'s a serious problem here!'" ng-click="toggleHighlightType(highlightTypes[2])"></span>
        </p>
      </div>

      <p btf-markdown="page.content" highlighter highlight-content="page.content" currently-highlighted-section="currentlyHighlightedSection" highlighted-sections="page.Highlights" displayed-types="displayedHighlightTypes"></p>

      <hr>

      <div ng-controller="CommentsController">
        <h2>
          <ng-pluralize count="commentCount" when="{ '0': 'No comments yet', 'one': '1 comment', 'other': '{} comments' }">
        </h2>

        <button class="btn btn-success" ng-click="toggleCommentForm()" ng-class="{ 'active': commentFormIsShowing }"><i class="fa fa-plus"></i> Create a comment</button>

        <form ng-show="commentFormIsShowing" ng-submit="addComment()" style="margin-top: 15px;">
          <div class="form-group">
            <p class="text-muted">
              Tip: you can use <a href="http://www.emoji-cheat-sheet.com/" target="_blank">emojis</a> in this field.
            </p>
            <textarea class="form-control" rows="5" ng-model="newComment" required></textarea>
          </div>

          <div class="form-group">
            <button class="btn btn-success" type="submit">Create</button>
          </div>
        </form>

        <div class="media" ng-repeat="comment in comments | orderBy: '-createdAt' " ng-include="'comment.html'" ng-if="!comment.removed"></div>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="alert alert-info" ng-hide="page.StudyGroup.Pages.length > 0" ng-if="userSignedIn.id == page.StudyGroup.User.id">
      You don't have any pages yet. Would you like to <a href="#/study-groups/{{page.StudyGroup.id}}/{{page.StudyGroup.key}}/new-page">create a page</a>?
    </div>

    <div ng-show="page.StudyGroup.Pages.length > 0">
      <h4>
        <ng-pluralize count="page.StudyGroup.Pages.length" when="{ '0': 'No pages yet', 'one': '1 page', 'other': '{} pages' }">
      </h4>
      <ul class="nav nav-pills nav-stacked" style="margin-bottom: 10px">
        <li ng-repeat="p in page.StudyGroup.Pages" ng-class="{ 'active': p.id == page.id }">
          <a ng-href="#/study-groups/{{p.StudyGroup.id}}/{{p.StudyGroup.key}}/pages/{{p.id}}">{{p.title}}</a>
        </li>
      </ul>
    </div>

    <p>
      <a ng-href="#/study-groups/{{page.StudyGroup.id}}/{{page.StudyGroup.key}}/new-page" class="btn btn-success btn-block" ng-if="userSignedIn.id == page.StudyGroup.User.id">
        <i class="fa fa-plus"></i> Create a page
      </a>
    </p>
  </div>
</div>

<script type="text/ng-template" id="comment.html">
  <div class="media-left">
    <img class="mini-portrait media-object" gravatar-size="30" gravatar-src-once="comment.User.email">
  </div>
  <div class="media-body">
    <h4 class="media-heading"><a ng-href="#/profile/{{comment.User.username}}">{{comment.User.username}}</a></h4>

    <div ng-hide="comment.editFormIsShowing">
      <p ng-bind-html="comment.content | emoji">
      </p>

      <p class="text-muted">
        {{comment.createdAt | amDateFormat:'MMMM Do YYYY, h:mm a' }}
      </p>
    </div>

    <form ng-show="comment.editFormIsShowing" ng-if="comment.User.id == userSignedIn.id" ng-submit="updateComment(comment)">
      <div class="form-group">
        <p class="text-muted">
          Tip: you can use <a href="http://www.emoji-cheat-sheet.com/" target="_blank">emojis</a> in this field.
        </p>

        <textarea ng-model="comment.editedContent" class="form-control" rows="5" required></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-default" type="submit">Save</button>
      </div>
    </form>

    <p>
      <button ng-if="comment.User.id == userSignedIn.id" class="btn btn-xs btn-default" ng-class="{ 'active': comment.editFormIsShowing }" ng-click="toggleCommentEditForm(comment)"><i class="fa fa-pencil"></i> Edit</button>
      <button class="btn btn-xs btn-default" ng-class="{ 'active': comment.replyFormIsShowing }" ng-click="toggleReplyForm(comment)"><i class="fa fa-reply"></i> Reply</button>
      <button ng-if="comment.Page.StudyGroup.UserId == userSignedIn.id || comment.UserId == userSignedIn.id" ng-click="removeComment(comment)" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> Remove</button>
    </p>

    <form ng-show="comment.replyFormIsShowing" ng-submit="addReply(comment, newReply); newReply = ''">
      <div class="form-group">
        <p class="text-muted">
          Tip: you can use <a href="http://www.emoji-cheat-sheet.com/" target="_blank">emojis</a> in this field.
        </p>

        <textarea ng-model="newReply" class="form-control" rows="5" required></textarea>
      </div>

      <div class="form-group">
        <button class="btn btn-default" type="submit">Reply</button>
      </div>
    </form>

    <div class="media" ng-repeat="comment in comment.replies | orderBy: '-createdAt' " ng-include="'comment.html'" ng-if="!comment.removed"></div>
  </div>
</script>
